<!--
  This template loads for the 'tab.adopt' state (app.js)
-->


<ion-view title="{{item.name}}">
    <ion-content has-tabs="true">
    	<div class="row">
         
        </div> 
       <div class="list">
  <label class="item item-input item-stacked-label item-icon-right">
    <span class="input-label">Participant's Name</span>
    <input type="text" placeholder="name">
    <i class="icon ion-edit f-s-12 detail-edit-icon"></i>
  </label>
  <label class="item item-input item-stacked-label item-icon-right">
    <span class="input-label">Age</span>
    <input type="text" placeholder="Age">
    <i class="icon ion-edit f-s-12 detail-edit-icon"></i>
  </label>
   <label class="item item-input item-stacked-label item-icon-right">
    <span class="input-label">Phone No</span>
    <input type="text" placeholder="0300-0000000">
    <i class="icon ion-edit f-s-12 detail-edit-icon"></i>
  </label>
   <label class="item item-input item-stacked-label item-icon-right">
    <span class="input-label">Email address</span>
    <input type="text" placeholder="something@something.com">
    <i class="icon ion-edit f-s-12 detail-edit-icon"></i>
  </label>
</div>  
<div class="row">
  			<button class="button button-full button-positive">
              Add Participant
          </button>
</div>
    </ion-content>
</ion-view>
