<div class="list">

  <div class="item item-divider">
    Performance Information
  </div>
  <ul class="list songs-listings">
	<li class="item item-icon-right list-heading">
     List Of Songs
    </li>
  <li ng-repeat="prf in performances" class="item item-icon-right" ng-hide="prf.__deleted">
     <input type="text" class="inputBox" ng-model="prf.title" ng-disabled="!prf.__update"/>
     <i class="icon ion-edit f-s-12" ng-click="updatePerformance(prf)" ng-show="!prf.__update"></i>
      <i class="icon ion-android-done" ng-show="prf.__update" ng-click="updatePerformance(prf)"></i>
      <i class="icon ion-trash-b f-s-12 trash-ico" ng-click="deletePerformance(prf)"></i>

  </li>
      <li class="item item-icon-right" ng-show="newprf">
          <input type="text" class="inputBox" placeholder="New Song" ng-model="newprf.title"/>
          <i class="icon ion-android-done" ng-click="addPerformance(newprf);newprf=null;"></i>
          <i class="icon ion-trash-b f-s-12 trash-ico" ng-click="newprf = null"></i>
      </li>
    <li class="item item-icon-left" ng-click="newprf = {}">
    Add more songs
     <i class="icon ion-plus-circled f-s-12"></i>
  </li>
  <li class="item item-icon-right list-heading">
     Performance Pictures
  </li>
</ul>
<div class="row space-remove">
  <div class="col images-thumb">
	<img class="full-image" src="img/rock-band-2-thumb-298x168.png">
  </div>
 <div class="col images-thumb">
<img class="full-image" src="img/band_mfbp_back.jpg">
  </div>
  <div class="col images-thumb">
  <i class="icon ion-plus-circled f-s-12 add-image"></i>
  </div>
</div>
</div>

 <div class="item item-divider">
    Participants' Information
  </div>
    <ul class="list">
        <li ng-repeat="part in participants" class="item" >



                    <label class="item-input">
                        <span class="input-label">Name</span>
                        <input type="text" placeholder="Participant's Name" ng-model="part.name" style="    font-weight: bold; text-transform: capitalize;" ng-disabled="!part.__update">
                    </label>


            <label class="item-input">
                <input type="text" placeholder="Contact Details" ng-model="part.contactdetails" ng-disabled="!part.__update">
            </label>

            <div class="row">
                <div class="col col-25">
                    <input type="text" placeholder="Age" ng-model="part.age" style="font-style: italic;width:inherit;" ng-disabled="!part.__update">
                </div>
                <div class="col col-50 item-select" >
                    <select ng-model="part.gender" ng-disabled="!part.__update" style="width:inherit;">
                        <option value="Female" >Female</option>
                        <option value="Male">Male</option>
                        <option value="Unknown">Unknown</option>
                    </select>
                </div>
                <div class="col col-25 item-icon-right">
                    <i class="icon ion-trash-b f-s-12 trash-ico" ng-click="deleteParticipant(part)"></i>
                    <i class="icon ion-edit f-s-12" ng-click="updateParticipant(part)" ng-show="!part.__update"></i>
                    <i class="icon ion-android-done" ng-click="updateParticipant(part)" ng-show="part.__update" ></i>
                </div>
            </div>

        </li>

         <li class="item" ng-show="newpart"> <!--class="item-thumbnail-left"-->


                 <label class="item-input">

                     <input type="text" placeholder="Name" ng-model="newpart.name">
                 </label>

             <label class="item-input">

                 <input type="text" placeholder="Contact Details" ng-model="newpart.contactdetails">
             </label>

             <div class="row">
                 <div class="col col-25">
                     <input type="text" placeholder="Age" ng-model="newpart.age" style="font-style: italic;width: inherit;">
                 </div>
                 <div class="col col-50 item-select">
                     <select  ng-model="newpart.gender" style="width: inherit;">
                         <option >Female</option>
                         <option >Male</option>
                         <option >Unknown</option>
                     </select>
                 </div>
                 <div class="col col-25 item-icon-right">
                     <i class="icon ion-trash-b f-s-12 trash-ico" ng-click="newpart= null"></i>
                     <i class="icon ion-android-done" ng-click="addParticipant(newpart);newpart=null;"></i>
                 </div>
             </div>







         </li>
        <li ng-click="newpart = {}" class="item item-icon-left">

                 Add participants
                 <i class="icon ion-plus-circled f-s-12"></i>


        </li>

    </ul>
