<div class="list">

  <div class="item item-divider">
    Performance Information
  </div>
  <ul class="list songs-listings">
	<li class="item item-icon-right list-heading">
     List Of Songs
    </li>
  <li ng-repeat="prf in performances" class="item item-icon-right" ng-hide="prf.__deleted">
     <input type="text" class="inputBox" ng-model="prf.title" ng-disabled="!prf.__update"/>
     <i class="icon ion-edit f-s-12" ng-click="updatePerformance(prf)" ng-show="!prf.__update"></i>
      <i class="icon ion-android-done" ng-show="prf.__update" ng-click="updatePerformance(prf)"></i>
      <i class="icon ion-trash-b f-s-12 trash-ico" ng-click="deletePerformance(prf)"></i>

  </li>
    <li class="item item-icon-left">
    Add more songs
     <i class="icon ion-plus-circled f-s-12"></i>
  </li>
  <li class="item item-icon-right list-heading">
     Performance Pictures
  </li>
</ul>
<div class="row space-remove">
  <div class="col images-thumb">
	<img class="full-image" src="img/rock-band-2-thumb-298x168.png">
  </div>
 <div class="col images-thumb">
<img class="full-image" src="img/band_mfbp_back.jpg">
  </div>
  <div class="col images-thumb">
  <i class="icon ion-plus-circled f-s-12 add-image"></i>
  </div>
</div>
</div>

 <div class="item item-divider">
    Participants' Information
  </div>
    <ion-list ng-controller="EventPerformanceCtrl"
                         show-delete="shouldShowDelete"
                         show-reorder="shouldShowReorder"
                         can-swipe="listCanSwipe">
        <ion-item ng-repeat="item in performances"  href="#/tab/performance/{{item.pid}}"> <!--class="item-thumbnail-left"-->

            <span>{{item.pid}}</span>
            <span>{{item.name}}</span>
<!--            <ion-option-button class="button-positive"
                               ng-click="deleteEventPerformance(event.id,item.pid)">
                Delete
            </ion-option-button>-->
           <!-- <ion-option-button class="button-info"
                               ng-click="edit(item)">
                Edit
            </ion-option-button>-->
            <!--<ion-delete-button class="ion-minus-circled"
                               ng-click="performances.splice($index, 1)">
            </ion-delete-button>-->
            <!--<ion-reorder-button class="ion-navicon"
                                on-reorder="reorderItem(item, $fromIndex, $toIndex)">
            </ion-reorder-button>-->

        </ion-item>
        
         <ion-item> <!--class="item-thumbnail-left"-->

            <span>Bilawal</span>    

        </ion-item>
        
    </ion-list>
