<!--
  This template loads for the 'tab.event-detail' state (app.js)
  'event' is a $scope variable created in the PetCtrl controller (controllers.js)
  The PetCtrl pulls data from the Pets service (service.js)
  The Pets service returns an array of event data
-->
<ion-view title="Event Detail">
  <ion-content class="has-header has-footer">
  <div class="row space-remove">
  	<div class="col col-67">
  	<h3 class="event-heading">
        <input type="text" style="font-weight: bold;font-size:larger; text-transform: capitalize;" placeholder="Event Name" ng-model="event.eventtitle">
    </h3>
        <p class="event-detail">
            <input type="text" ng-model="event.eventdate" placeholder="Event Date" ng-click="openDatePicker()"  >
        </p>
    </div>
    <div class="col">

    </div>
  </div>

      <div class="list">

          <div class="item item-divider">
              Institute Information
          </div>

          <div class="list">
              <label class="item item-input item-stacked-label">
                  <span class="input-label">Institute Name</span>
                  <input type="text" placeholder="Institute Name" ng-model="event.institutename">
              </label>
              <label class="item item-input item-stacked-label">
                  <span class="input-label">Address</span>
                  <input type="text" placeholder="Address" ng-model="event.address">
              </label>
              <label class="item item-input item-select">
                  <span class="input-label">Type</span>
                  <select ng-model="event.type">
                      <option value="University" >University</option>
                      <option value="College">College</option>
                      <option value="School">School</option>
                  </select>
              </label>
              <button class="button button-positive button-block" ng-click="saveEvent(event)">
                  Save
              </button>
          </div>
      </div>

      <div ng-include src="'templates/event-performance-list.html'"></div>
<!--          <button class="button button-full button-positive">
              Participants
          </button>-->

      </div>


      <button class="button button-assertive button-block" ng-click="deleteEvent(event)">
          Delete Record
      </button>
  </ion-content>
</ion-view>
