<!--
  This template loads for the 'tab.event-detail' state (app.js)
  'event' is a $scope variable created in the PetCtrl controller (controllers.js)
  The PetCtrl pulls data from the Pets service (service.js)
  The Pets service returns an array of event data
-->
<ion-view title="">
  <ion-content padding="true">
  <div class="row space-remove">
  	<div class="col col-67">
  	<h3 class="event-heading">
        <b>{{event.title}}</b>
    </h3>
    <p class="event-detail">{{ event.description }}</p>
    </div>
    <div class="col">
    <button class="button button-assertive button-small delete-btn">
      Delete Record
    </button>
    </div>
  </div>  
      <div ng-include src="'templates/event-performance-list.html'"></div>
<!--          <button class="button button-full button-positive">
              Participants
          </button>-->

      </div>


    <p><a class="button button-small icon ion-arrow-left-b" href="#/tab/events"> All Events</a></p>
  </ion-content>
</ion-view>
