<!--
  This template loads for the 'tab.adopt' state (app.js)
-->


<ion-view title="{{event.title}}">
    <ion-content has-tabs="true">
        <div class="list list-inset">
       	Institutes Type
        <ion-list>
          <ion-radio ng-model="choice" ng-value="'A'">University</ion-radio>
          <ion-radio ng-model="choice" ng-value="'B'">College</ion-radio>
          <ion-radio ng-model="choice" ng-value="'B'">School</ion-radio>
        </ion-list>    

        </div>
    </ion-content>
</ion-view>
