
<ion-view class="padding" view-title="Login" name="login-view">
    <ion-content class="padding">
<div class="row">
    <div class="col col-offset-25 col-50" >
        <img width="100%" src="http://parvaaz.rozee.pk/company_images/bucket80/o_23254055819403.png">
    </div>
</div>

        <div class="list list-inset">
            <label class="item item-input padding">
                <input class="padding" type="text" placeholder="Username" ng-model="data.username">
            </label>
            <label class="item item-input padding">
                <input class="padding" type="password" placeholder="Password" ng-model="data.password">
            </label>
        </div>
        <div class="row" >
            <div class="col col-50 col-offset-25">
                <button class="button button-block icon-left ion-log-in button-positive" ng-click="login()">Login</button>
            </div>

        </div>

    </ion-content>
</ion-view>