
<ion-view class="padding bg-img" view-title="Login" name="login-view">
    <ion-content class="padding">
<div class="row">
    <div class="col logo-img" >
        <img width="100%" src="img/LOGO.png"/>
    </div>
</div>

        <div class="list login-fields">
            <label class="item item-input input-fields">
                <input class="padding" type="text" placeholder="Username" ng-model="data.username">
            </label>
            <label class="item item-input">
                <input class="padding" type="password" placeholder="Password" ng-model="data.password">
            </label>

        </div>
        <div class="row" >
            <div class="col col-50 col-offset-25">
                <button class="button button-block icon-left ion-log-in button-positive" ng-click="login()">Login</button>
            </div>

        </div>

    </ion-content>
</ion-view>