<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionicframework.starter" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Rock Band App</name>
    <description>
        A sample app
    </description>
    <author email="muhammad.wasim@zigrom.com" href="https://github.com/bhailogee">
        Zigron Team
    </author>
    <content src="index.html" />
    <access origin="*" />
	
    <icon src="res/icon/android/icon-36-ldpi.png"   platform="android"    qualifier="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png"   platform="android"    qualifier="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png"   platform="android"    qualifier="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png"  platform="android"    qualifier="xhdpi" />	
	
    <!--<preference name="fullscreen" value="true" />-->
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
	
</widget>
